@import "tailwindcss";

:root {
  --color-primary: #171717;
  --color-secondary: #7B584F;
  --color-light: #686868;
  --color-background: #FCFCF9;
}

  /* colors */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-aboreto);
  --font-body: var(--font-montserrat);
}

 @layer utilities {
  .container-custom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

body {
  font-family: var(--font-body);
}

.font-primary {
  font-family: var(--font-primary);
}